.container{
    margin: 0;
    padding: 0;
    font-size: 100px;
    position: absolute center;
    font-size: 100px;
    left: 50%;
    

}

#p1{
    top: 50px;
    position: absolute;
    left: 50%;
    bottom: 0;
    display: inline-block;
    text-align: center;
    color: #c94f4f;

}

#p2{
    top: 115px;
    left: 51%;
    position: absolute;
    display: inline-block;
    text-align: center;
    color: #c1dd46;

}

#p3{
    top: 180px;
    left: 51%;
    position: absolute;
    display: inline-block;
    text-align: center;
    color: #4fc9c9;
}