.backgrnd{
    position: relative;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 400px;
    height: 400px;
}

.logo{
    position: absolute;
    border: 2px solid black;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-image: linear-gradient(to right,rgb(0, 94, 255),rgba(18, 208, 18, 0.821));
    z-index: 10;
}
.c1{
    position: absolute;
    width: 60%;
    height: 50%;
    border-radius: 50%;
    top: 25%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 255, 0.634),skyblue);
    z-index: 20;
}
.c2{
    position: absolute;
    border: 1px solid black;
    width: 60%;
    height: 55%;
    border-radius: 50%;
    top: 35%;
    left: 10%;
    z-index: 25;
}
.c4{
    position: absolute;
    border: 1px solid black;
    background-color: white;
    width: 25%;
    height: 25%;
    border-radius: 50%;
    top: 38%;
    left: 36%;
    z-index: 100;
}
